<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Ingreso de nuevo alumno</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="mt-4">Ingreso de nuevo alumno</h1>
    </div>
    <p class="mb-0">Los errores al momento de ingresar un alumno fueron: </p>
    <table>
        <tr th:each="c : ${errors}">
            <td class="small-mb-1" th:text="${c}"/>
        </tr>
    </table>
</body>
</html>