<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Ingreso de nuevo alumno</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="mt-4">Ingreso de nuevo alumno</h1>
    </div>
    <p class="mb-0">Alumno ingresado con exito</p><br>
    <div class="card-body">
        <form method="post" th:action="@{/ingresar}">
            <div class="form-group"><input type="submit" class="btn btn-primary" value="Ingresar Nuevo Alumno"></a></div>
        </form>
    </div>
</body>
</html>